---
layout: homepage
title: Home
---

<div class="set-background">

    <div class="container">
        <div class="row py-44">
            <div class="col-12 px-5 py-4 text-center">
                <p class="site-subtitle">
                    <br><br>
                    Welcome to the Small Artifacts Lab, a.k.a. SMART Lab.
                    <br><br>
                    We advance interactive technologies by designing, prototyping, and evaluating novel artifacts that are personal, hands-on, and often small when it comes to the form factors. 
                    <br><br>
                    Our interests span the methods of building these personal artifacts (through design and interactive fabrication), the scenarios in which they're used (in virtual and augmented reality), and the users who can benefit from them (via assistive and enabling technology). 
                    <br><br>
                </p>
            </div>
        </div>
    </div>

</div>


<!-- <div class="container mb-4">
    <div class="row pt-4">
        <div class="col-5">                    
            <div class="video-player">
                <video style="background-color: #000;" class="mr-5 my-5" id="play-video" autobuffer muted>
                    Your browser does not support the video tag.
                </video> 

            </div>  
        </div>
        <div class="col-7 my-auto">
            <p class="header-text set-font m-5">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
            </p>
        </div>
    </div>
    <h1 class="set-font-bold mt-5">Publications</h1>
</div> -->

<div class="container mb-4">
    <h1 class="set-font-bold mt-5">Publications</h1>
    {% assign publications = site.publications | sort: 'number' | reverse %}
    {% for publication in publications %}
    <div class="row mt-4"> 
        <div class="card flex-md-row box-shadow w-100 rounded-0 border-0">
            <div class="card-body d-flex flex-column align-items-start">
                <p class="card-text mb-1 set-font text-muted small-text">{{ publication.venue }} {% if publication.award %}  | <span class="small-text"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-award" viewBox="0 0 16 16">
                  <path d="M9.669.864 8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193.684 1.365 1.086 1.072L12.387 6l.248 1.506-1.086 1.072-.684 1.365-1.51.229L8 10.874l-1.355-.702-1.51-.229-.684-1.365-1.086-1.072L3.614 6l-.25-1.506 1.087-1.072.684-1.365 1.51-.229L8 1.126l1.356.702 1.509.229z"/>
                  <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
              </svg> {{ publication.award }} </span>{% endif %}
              <!-- {% if publication.new == true %}
              <span class="new-tag badge badge-pill badge-primary">NEW</span>
              {% endif %} -->
              {% if publication.new == true %}
              <span class="new-tag badge badge-pill badge-primary">NEW</span>
              {% endif %}
          </p>
          <h3 class="mb-0">
            {% if publication.linked != false %}
            <a href="{{ publication.url }}">{{ publication.title }}</a>
            {% else %}
            {{ publication.title }}
            {% endif %}
        </h3>
        <div class="my-1 authors small-text">
            <p class="mb-0">{{ publication.authors }}</p>
            {% if publication.equal_contrib == true %}
            <p class="mb-0 equal-contrib">*indicates equal contribution</p>
            {% endif %}
        </div>
        <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
          <div class="btn-group mr-2">
              <a href="{{ publication.doi }}" class="btn btn-smartlab btn-sm rounded-0">DOI</a>
          </div>
          <div class="btn-group mr-2">
              <a href="{{ publication.pdf }}" class="btn btn-smartlab btn-sm rounded-0">PDF</a>
          </div>
          {% if publication.custombutton_text %}
          <div class="btn-group mr-2">
              <a href="{{ publication.custombutton_link }}" class="btn btn-custom btn-sm rounded-0">{{ publication.custombutton_text }}</a>
          </div>
          {% endif %}
      </div>
  </div>
  <img class="card-img-right publication-image flex-auto d-none d-md-block" alt="{{ publication.title }}" src="{{ publication.image }}">
</div>
</div>
{% endfor %}    
</div>

<script>
// add error handler for the video element
document.getElementById("play-video").addEventListener('error', ooops,false);

nextVideo();

</script>
